body {
    background-color: #EDEAFF;
    margin-left: 20px;
    margin-right: 20px;
}

main a {
    text-decoration: none;
    color: #B515C3;
}

main a:hover {
    animation-name: changeColor;
    animation-duration: 0.5s;
    color: #db54e8;
}

main a:active {
    color: rgb(73, 142, 73) !important;
}

main ul { 
    list-style-type: none; 
}

header h1 a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

#menorah { 
    position: relative; 
    top: 15px; 
}

#hanukkah {
    float: left;
}

header h1 {
    font-family: 'Indie Flower', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

p {
    font-size: 1.5em;
}

main {
    text-align: center;
}

#next {
    clear: both;
    text-align: center;
}

@keyframes grow {
    0% {
        font-size: 1em;
    }

    100% {
        font-size: 1.2em;
    }
}

@keyframes changeColor {
    0% {
        color: #B515C3;
    }

    100% {
        color: #db54e8;
    }
}

@media screen and (max-width: 850px) {
    figure {
        float: none;
        text-align: center;
    }

    main{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    

    p {
        clear: both;
    }
}
